<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <title>How Much?</title>
</head>
<body>
    <h1>{{ title }}</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        {% for field in form.bound_fields() %}
            {% if field.errors %}
                <ul class="errors">{% for error in field.errors %}<li>{{ error|e }}</li>{% endfor %}</ul>
            {% endif %}
            {{ field.label(class="label") }}: {{ field }}<br>
        {% endfor %}
        <label>it was cost: </label>{% if result %}<input type="text" readonly value="{{ '%0.2f' % result|float }}">{% endif %}<br>
        <input type="submit" value="Calculate">
    </form>
</body>
</html>